
# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

.byebug_history

node_modules/
bundle.js
bundle.js.map

# Ignore application configuration
/config/application.yml


.DS_Store

.byebug_history
