/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*CLEAR FIX*/
html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  box-sizing: content-box;
  line-height: 1.1666666666;
  background-color: #ffff64;
  color: black;
  font: 13px/1.7 helvetica, sans-serif;
}

input,
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	line-height:1;
	/* Browsers have different default form fonts */
}

.header {
}

.header-list a {
  display:block;
  padding: 5px;
  font: 13px/1.7 helvetica, sans-serif;
}

.header-search {
  float: left;
  display: block;
  width: 200px;
  padding: 2px;
  margin: 5px
}

.header-logo-container {
  position: fixed;
  left: 50%;
}
.header-logo {
  font: 23px/1.7 helvetica, sans-serif;
  font-weight: bold;
  color: #ffff64;
  text-shadow: -2px 2px black;
  position: relative;
  right: 50%;
  letter-spacing: 3px;
  text-align: center;

}

.header-list{
  float: right;
  display:block;
}

.header-list li {
  display:block;
  float:left;
}

.header-welcome {
  display:block;
  padding: 5px;
  font: 13px/1.7 helvetica, sans-serif;
}

.cf:after {
  content:"";
  clear:both;
  display:block;
}
