.slider{
  width: 80%;
  position: absolute;
  background-color: #7d8fe8;
  height: 8px;
  left: 15%;
  bottom: 2px;
  border: 1px solid lightgray;
}

.handle {
  height: 20px;
  width: 13px;
  border: 1px solid white;
  bottom: -6px;
  background-color: lightgray;
  cursor: pointer
}
