.slider{
  width: 70%;
  position: absolute;
  background-color: #7d8fe8;
  height: 2px;
  left: 15%;
  bottom: -5px;
  cursor: pointer
  // border: 1px solid lightgray;
}

.handle {
  height: 20px;
  width: 8px;
  bottom: -10px;
  background-color: #7d8fe8;
  cursor: pointer
}

.video-time{
  position: absolute;

  color: #7d8fe8;
  font-size:17px;
  bottom: -17px;
  right: 0
}

.hidden_album_art{
  display: none !important;
  // visibility: hidden
}


.controlls{
  position: relative;
  right:0
}

.anchored_play_bar {
  padding-top:235px;
}
