.slider{
  width: 70%;
  position: absolute;
  background-color: #7d8fe8;
  height: 2px;
  left: 15%;
  bottom: -5px;
  cursor: pointer
  // border: 1px solid lightgray;
}

.handle {
  height: 20px;
  width: 8px;
  bottom: -10px;
  background-color: #7d8fe8;
  cursor: pointer
}

.video-time{
  position: absolute;

  color: #7d8fe8;
  font-size:17px;
  bottom: 16px;
  right: 20%;
}
