.comment-form {
  width: 100%;
  background-color: rgba(204,204,204,.2);
  margin-top: 10px;
  padding:10px;
  box-sizing: border-box;
}

.empty-comments {
  display: none;
}
.comment-form textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 120%;
  resize: none;
}

.comment-button {
  border: 2px solid #0ecb27;
  padding: 1px 3px;
  display:inline;
  font-size: 16px;
  cursor:pointer;
  color: #0ecb27;
}

.comment-button:hover {
  background-color: rgba(14,203,39,.2);
}

.annotation-comments-section {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  background-color: rgba(204,204,204,.2);
  padding:10px 20px;
  box-sizing: border-box;
}

.annotation-comments-section ul {
  width: 100%;
  box-sizing: border-box;
}

.annotation-comments-section h4{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;

}

.annotation-comments-section li{
  border-top: 1px solid #99a7ee;
  padding: 10px 0;
}
