.main-nav {
  height: 33px;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  // font-weight:bold;
  // background: black;
  text-align: center;
}

.main-nav-newsong {
  padding:5px 10px;
  // color: #ffff64;
}
