.main-nav {
  height: 33px;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #ffff64;
  text-align: center;
}

.main-nav-newsong {
  padding:5px 10px;

}

.black-bg {
  background-color: black;
  color: white;
}
