.track-show-header {
  height: 300px;
  width: 100%;
  background: linear-gradient(180deg, transparent, #000 90%);
  position: relative;
}

.track-show-bg{
  position:relative;
  z-index:-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.track-show-header-content {
  position:absolute;
  left: 20px;
  min-width: 350px;
  top: - 200px;
  // top: 40%;
  // left:17%;
}

.track-show-header-content h1{
  color:#ffff64;
  font-size: 50px;
  line-height: 100%;
}

.track-show-header-content h2{
  color:white;
  font-size: 24px;
  line-height: 100%;
  padding: 10px 0px;
}

.track-show-header-content h4{
  color:gray;
  font-size: 18px;
  line-height: 100%;
  padding: 5px 0px;
}

.track-show-header-content strong{
  color:#7d8fe8
}

.track-show-wrapper {
  width:100%;
  background-color: #e9e9e9;
  min-height: 600px;
}


// CONTENT

.track-show-content {
  width:67%;
  min-width: 700px;
  margin: auto;
  background-color: white;
  height:100%;
  padding: 20px 20px;
  min-height: 700px;
  position: relative;

}

.track-show-lyrics {
  width:50%;
  float: left;
  display:block;
  color: #1f1f1f;
  white-space: pre-wrap;
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
}

.track-show-header-album {
  width:80%;
  min-height: 250px;
  min-width: 250px;
  position:absolute;
  left: 10%;
  top: - 300px;
  display: block;
  border: 2px solid white;
}

.track-show-header-album img{
  width: 100%;
  object-fit: cover;
}

.track-show-description {
  font-family: 'Helvetica', sans-serif;
  position: absolute;
  display: block;
  margin-top: 40px;
}


.track-show-right-col {
  width:45%;
  float:right;
  display:block;
  position: relative;
  height: 100%;
}
