.track-show-header {
  height: 300px;
  width: 100%;
  background: linear-gradient(180deg, transparent, #000 90%);
  position: relative;
}

.track-show-bg{
  position:relative;
  z-index:-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.track-show-header-content {
  position:absolute;
  left: 20px;
  min-width: 350px;
  top: - 200px;
  // top: 40%;
  // left:17%;
}

.track-show-header-content h1{
  color:#ffff64;
  font-size: 50px;
  line-height: 100%;
}

.track-show-header-content h2{
  color:white;
  font-size: 24px;
  line-height: 100%;
  padding: 10px 0px;
}

.track-show-header-content h4{
  color:gray;
  font-size: 18px;
  line-height: 100%;
  padding: 5px 0px;
}

.track-show-header-content strong{
  color:#7d8fe8
}

.track-show-wrapper {
  width:100%;
  background-color: #e9e9e9;
  min-height: 600px;
}


// CONTENT

.track-show-content {
  width:67%;
  min-width: 700px;
  margin: auto;
  background-color: white;
  height:100%;
  padding: 20px 20px;
  min-height: 700px;
  position: relative;

}

.track-show-lyrics {
  width:50%;
  float: left;
  display:block;
  color: #1f1f1f;
  white-space: pre-wrap;
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
}

.track-show-header-album {
  width:100%;
  position:absolute;
  left: 10%;
  top: - 300px;
  display: block;
}

.track-show-album-div {
  min-height: 250px;
  min-width: 250px;
  width: 80%;
  margin-bottom: 35px;
}

.track-show-album-div img {
  border: 2px solid white;
  height: 24vw;
  min-height: 250px;
  width: 100%;

}

.audio-player {
  background-color: black;
  border: 2px solid white;
  width: 100%;
  height: 27vw;
  min-height:250px;
  max-width:800px;
  margin-bottom: 8px;
}

.track-show-description {
  width: 100%;
  font-family: 'Helvetica', sans-serif;
  position: absolute;
  display: block;
  left: -10%;
}

.track-show-right-col {
  width:45%;
  float:right;
  display:block;
  position: relative;
}

#play-video-button{
  position: absolute;
  border:none;
  width:15%;
  height: inherit;
  margin-top: -6%;
  margin-left: -2%;
  min-height: inherit;
}

#play-video-button:hover{
  cursor: pointer;
}
