.track-index-content {
  background-color: white;
}

.track-index-list{
  width:80%;
  margin:auto;
  text-align: center;
  margin-top: 20px;
}

.track-list-item{
  width: 350px;
  display: inline-block;
  height:600px;
  margin: 0px 5px 20px 5px;
  background: black;

}

.track-list-item-album-art {
  width: 350px;
  height: 350px;
}
.track-list-item-album-art img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.track-list-item-content {

  color:white;
  padding:20px;
}

.track-list-item-fade {

  background: linear-gradient(180deg, transparent, #000 75%);
  width: 100%;
  height: 100%;
}

.track-list-item-content h2 {
  margin: 5px 0;
  font-size: 30px;
}
.track-list-item-content h4 {
  margin: 5px 0;
  font-size: 16px;
}
