.track-show-header {
  height: 300px;
  width: 100%;
  background: linear-gradient(180deg, transparent, #000 90%);
  position: relative;
}

.track-show-bg{
  position:relative;
  z-index:-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.track-show-header-content {
  position:absolute;
  top: 40%;
  left:17%;
}

.track-show-header-content h1{
  color:#ffff64;
  font-size: 50px;
  line-height: 100%;
}

.track-show-header-content h2{
  color:white;
  font-size: 28px;
  line-height: 100%;
  padding: 10px 0px;
}

.track-show-wrapper {
  width:100%;
  background-color: #e9e9e9;
  min-height: 700px;
}


// CONTENT

.track-show-content {
  width:67%;
  margin: auto;
  background-color: white;
  height:100%;
  padding: 20px 20px;
  min-height: 700px;

}

.track-show-lyrics {
  width:50%;
  float: left;
  display:block;
  color: #1f1f1f;
  white-space: pre-wrap;
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
}

.track-show-header-album {
  width:340px;
  height:340px;
  position:absolute;
  left:55%;
  top: 15%;
  object-fit: cover;
  display: block;
  border: 2px solid white;
}

.track-show-right-col {
  width:45%;
  float:right;
  display:block;
  position: relative;
}

.track-show-description {
  font-family: 'Helvetica', sans-serif;
  margin-top: 80px;
  display: block;
  white-space: pre-wrap;
}
