.track-index-content {
  background-color: white;
}

.track-index-list{
  width:80%;
  margin:auto;
  text-align: center;
  margin-top: 20px;
}

.track-list-item{
  width: 320px;
  display: inline-block;
  height:540px;
  margin: 0px 5px 20px 5px;
  position: relative;
  cursor:pointer;
  overflow: hidden;
}
.track-list-item-num{
  position: absolute;

  background: black;
  color: white;
  width: 60px;
  display: block;
  top:2px;
  left:2px;

  transform: translateX(-21px) translateY(-4px) rotate(-45deg) ;
}
.track-list-item:before{
  background: linear-gradient(to bottom,transparent 20%,#000 50%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.track-list-item-album-art {
  width: 320px;
  height: 320px;
}
.track-list-item-album-art img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.track-list-item-content {
  color:white;
  padding:20px;
  margin-top: 40px;
  z-index: 10;
  text-align: left;
  position: absolute;
  bottom: 0px;
}

.track-list-item-content h2 {
  margin: 10px 0;
  color:white;
  font-size: 30px;
  line-height: 100%;
}
.track-list-item-content h4 {
  margin: 10px 0;
  font-size: 16px;
  line-height: 100%;
}

.description-wrapper {
  max-height: 400px;
  margin-top: .7em;
  margin-bottom: 1em;
}

.track-list-item-content p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 4.5em;
  overflow: hidden;
  line-height: 140%;
}
