.user-show-header {
  height: 300px;
  width: 100%;
  background: linear-gradient(180deg, transparent, #000 90%);
  position: relative;
}

.user-show-bg {
  position:relative;
  z-index:-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-show-wrapper {
  width:100%;
  min-height: 600px;
  background-color: #f7f7f7;
}

.user-show-content {
  width:67%;
  min-width: 700px;
  margin: auto;
  height:100%;
  padding: 20px 20px;
  min-height: 700px;
  position: relative;
}

.user-show-header-content{
  min-height: 300px;
  min-width: 300px;
  width: 80%;
  margin-bottom: 35px;
}

.user-show-header-content-wrapper {
  width: 100%;
  position: absolute;
  left: 10%;
  top: -300px;
  display: block;
}

.user-show-header-pic {
  border: 2px solid white;
  height: 27vw;
  min-height: 290px;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-show-content h1 {
  font-size: 26px;
  display: block;
  padding-top: 10px;
  text-align: center;
}

.user-show-left h2 {
  font-size: 20px;
  color: gray;
  text-align: center;
}

.user-stats{
  background-color: white;
  padding: 10px;
}

.user-show-left{
  width: 50%;
  position: relative;
  float: left;
}

.user-show-left p{
  font-size: 20px;
  text-align: center;
  color: black;
}
.user-show-left-column {
  text-align: center;
  // padding-top: 5vw;
}


.user-show-right{
  float: right;
  width: 50%;
  position: relative;
}

.user-show-right a {
  cursor: pointer;
  font-size: 16px;
}

.user-show-right a:hover {
  color: gray;
}

.user-show-right h2 {
  font-size: 20px;
  color: gray;
}

.user-show-right p{
  font-size: 16px;
  text-align: left;
  color: black;
  padding-left: 10px;
}
