.thumb-down-icon:hover {
  color: #ff1414
}

.material-icons {
  cursor: pointer;
  display: inline-block;
}

.thumb-up-icon:hover {
  color: #0ecb27;
}

.upvote-section {
  display: inline-block;
  cursor: pointer;
}
.upvote {
  color: #0ecb27;
}

.downvote {
  color: #ff1414
}
