.thumb-down-icon:hover {
  color: #ff1414
}

.material-icons {
  cursor: pointer;
}

.upvote:hover {
  color: #0ecb27;
  cursor: pointer;
}

.upvote {
  display: inline-block;
}

.thumbup {
  color: #0ecb27;
}

.thumbdown {
  color: #ff1414
}
